.blog-item-category {
  display: inline;
  font-weight: 800;

  &.cat-projects {
    background-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  }

  &.cat-guides {
    background-image: linear-gradient(to right, #a8c0ff, #3f2b96);
  }

  &.cat-workflow {
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
  }

  &.cat-education {
    background-image: linear-gradient(to right, #b92b27, #1565c0);
  }

  &.cat-life {
    background-image: linear-gradient(to right, #1f4037, #99f2c8);
  }

  background-clip: text;
  color: transparent;

  &.cat-none {
    color: var(--ifm-color-emphasis-700);
  }
}
